body {
  background-color: rgb(46, 48, 71);

  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

header {
  background-color: rgb(60, 63, 88);
  border: none;
  display: flex;
  align-items: center;
}

.header-left {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  margin-left: auto;
  margin-right: 20px;
}

.buttonO {
  background: none;
  border: none;
  font-size: 48px;
  color: rgb(59, 186, 156);
}

.text {
  background-size: 100%;
  color: rgb(59, 186, 156);
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

.menu {
  position: fixed;
  left: 80%;
  top: 12.9%;
  right: 0%;
  bottom: 0.3%;
  background-color: rgb(60, 63, 88);
  border: solid black 1px;
  display: none;
  align-items: top;
  transition: 1.5s;
}

.buttonO {
transition: 0.5s;
}

.buttonO:hover {
  font-size: 56px;
}



.innerMenu {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-left: 100px;
  text-align: center;
  
}

.mainText {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 20px;
  color: rgb(112, 119, 147);
}

#otsikko {
  font-size: larger;
}

#leipäTeksti {
  font-size: large;
}

#aboutMe {
  border-style: outset;
  margin-top: 100px;
  font-size: 36px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

#jobExperience {
  border-style: outset;
  font-size: 36px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

#myContacts {
  border-style: outset;
  font-size: 36px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

li{
  list-style: none;
  border-color: black;

}